@model eService.Web.ViewModels.Manage.IndexViewModel
@{
    ViewBag.Title = "Редактиране на потребител";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Промяна на вашите профилни данни</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Парола:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Промени парола", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Създай", "SetPassword")
            }
            ]
        </dd>
        <dt>Име:</dt>
        <dd>
           
        </dd>        
    </dl>
</div>
